@import url("https://fonts.googleapis.com/css?family=Lato:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.card {
  background-color: #def2fd;
  width: 400px;
  min-height: 450px;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 2px solid rgba(255, 255, 255, 0.5);
  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
}

.images-container {
  display: flex;
}

img {
  border-radius: 50%;
  width: 160px;
  height: 160px;
  border: 1px solid #ffffff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 10px 5px 22px rgba(0, 0, 0, 0.22);
  transition: all 0.2s;
  margin: 15px;
}

img:hover {
  transform: scale(1.1);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 10px 5px 22px rgba(0, 0, 0, 0.22);
}

h2 {
  font-size: 27px;
  margin: 25px 0;
}

.link {
  margin-top: 50px;
}
